<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>ENTER THE USER NAME:</label>
        <input type="text" name="iname" placeholder="enter the user name"><br>
        <label>ENTER THE PASSWORD:</label>
        <input type="password" name="ipas" placeholder="***********"><br>
        <input type="submit" LOGIN="submit">
    </form>
</body>
</html>