<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNIN PAGE</title>
</head>
<body>
    <form action="/" method="POST">
        <label>ENTER THE USER NAME:</label>
        <input type="text" name="rname" placeholder="enter the user name"><br>
        <label>ENTER THE MOBILE NUMBER:</label>
        <input type="number" name="rnum" placeholder="enter the mobile number"><br>
        <label>ENTER THE MAIL ID:</label>
        <input type="mail" name="rmail" placeholder="enter the mail id"><br>
        <label>ENTER THE PASSWORD:</label>
        <input type="password" name="rpas" placeholder="***********"><br>
        <input type="submit" SIGNIN="submit">
    </form>

        
    
</body>
</html>